/* ----------- Banner ----------- */
.banner {
    height: 350px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 130px;
}

.banner > * {
    color: rgba(0, 0, 0, 0.5);
}

.banner h1 {
    color: var(--white);
    font-weight: bolder;
    font-family: var(--tough);
    font-size: 50px;
}
/* ----------- End Banner ----------- */

/* ----------- New News ----------- */
.new-news {
    margin: 50px;
    padding: 0 50px;
}

.new-news-title {
    font-size: 20px;
    margin: 10px 0;
    color: var(--primary);
}

.new-news-content {
    width: 100%;
    overflow: hidden;
}

.new-news-content-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.new-news-image {
    /* flex-basis: 35%; */
    min-height: 230px;
    width: 1000px;
    background-image: url(../img/pexels-tima-miroshnichenko-6169670.jpg);
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.new-news-main {
    min-height: 230px;
    /* flex-basis: 65%; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: .5rem;
}

.new-news-main-content {
    padding-bottom: 20px;
    text-align: justify;

}

.new-news-next a{
    padding: 10px 15px;
    background-color: var(--warning);
    font-family: var(--tough);
    text-decoration: none;
    border-radius: 10px;
    color: var(--white);
}

.new-news-next a:hover {
    background-color: orange;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

/* ----------- End New News ----------- */

/* +++++ Tablet Size +++++ */
@media screen and (max-width:769px) {
    .banner {
        padding: 50px;
        padding-top: 130px;
    }

    .new-news {
        padding: 0 25px;
    }

    .new-news-content-item {
        flex-direction: column;
        overflow: hidden;
    }

    .new-news-main {
        height: auto;
    }

    .new-news-next {
        margin-bottom: 50px;
    }
}
/* +++++ End Tablet Size +++++ */

/* +++++ Mobile L Size +++++ */
@media screen and (max-width:426px) {
    .banner {
        padding: 20px;
        padding-top: 130px;
        height: 300px;
    }

    .banner h1 {
        font-size: 40px;
    }

    .banner i {
        font-size: 100px;
    }

    .new-news {
        padding: 0;
    }
}
/* +++++ End Mobile L Size +++++ */

/* +++++ Mobile M Size +++++ */
@media screen and (max-width:375px){
    .new-news {
        margin: 25px;
    }
    .new-news-title {
        font-size: 15px;
    }
}
/* +++++ End Mobile M Size +++++ */

/* +++++ Mobile S Size +++++ */
/* +++++ End Mobile S Size +++++ */